/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/


.page.theme_light {
	/* сохраните этот селектор в приведённом виде.
		Так стили написанные ниже будут иметь больший вес,
		чем стили в медиазапросе предпочтений пользователя
	*/
	--light-theme: #FFF1F7;
	--accent-color: #FF8DCB;
	--nav-outline-rgb: 53,52,48;
	--main-title-color: #FFC2E6;
	--text-color-black: #353430;
	--text-shadow-color: #FF0070;
	--paragraph-text-color: #353430;
	--background-image: url(../images/cover-image-light.png);
	--corner-color: var(--paragraph-text-color);
}

.theme_light .decor {
	display: none;
	}

.theme_light .header__theme-menu-list {
	margin-block-start: 66px;
	margin-block-end: 26px;
	color: var(--paragraph-text-color);
}

.theme_light .header__title {
	margin-block-end: 13px;
}

@media (width>=768px) {

	.theme_light .header__theme-menu-list {
		margin-block-start: 172px;
		margin-block-end: 76px;
	}

	.theme_light .header__title {
		margin-block-end: 60px;
	}

}

@media (width>=1024px) {

	.theme_light .header__theme-menu-list {
	display: flex;
	justify-self: center;
	column-gap: 10px;
	align-self: flex-start;
	margin-block-start: 0;
	margin-block-end: 173px;
}

.theme_light .header__title {
	margin-block-end: 14px;
}

}

@media (width>=768px) and (width<1024px) and (height<900px) { 
	/* чтобы не съезжал подзаголовок на таком разрешении */
	/* иначе его выталкивает на секцию снизу */
	.theme_light .header {
		row-gap: 60px;
	}
	
	.theme_light .header__theme-menu-list {
		margin-block-start: 132px;
		margin-block-end: 1px;
	}

	.theme_light .header__title {
		margin: 0;
	}

	.theme_light .header .subtitle {
		margin-block-end: 0;
	}
}

@media (prefers-color-scheme:light) {

	:root {
		--light-theme: #FFF1F7;
		--accent-color: #FF8DCB;
		--nav-outline-rgb: 53,52,48;
		--main-title-color: #FFC2E6;
		--text-color-black: #353430;
		--text-shadow-color: #FF0070;
		--paragraph-text-color: #353430;
		--background-image: url(../images/cover-image-light.png);
		--corner-color: var(--paragraph-text-color);
	}

	:root .decor {
		display: none;
		}

	:root .header__title {
		margin-block-end: 14px;
	}

	:root .header__theme-menu-list {
		color: var(--paragraph-text-color);
	}

	:root .section>.subtitle {
		color: var(--paragraph-text-color);
	}

	.theme_dark .header__theme-menu-item {
		color: var(--accent-color);
	}
	
	.theme_dark .section > .subtitle{
		color: var(--accent-color);
	}
	
	.theme_dark .decor {
		display: block;
	}

}



